body {
  background-color:darkorange;
}
hr {
  border-style:none;
  border-top-style: dotted;
  border-width: 4px;
  boder-color: grey;
  height: 0px;
  width: 5%;
}
img {
  height:180px;
}

h3 {
    color: teal;
}
h2 {
  color: teal;
}
h1 {
    color: teal;
}
